body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #question {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #answer-input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  #submit-button, #skip-button, #new-quiz-button  {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }

  #skip-button {
    background-color: #2196F3;
  }
  
  #new-quiz-button {
    background-color: #ff9800; /* Adjust the color as needed */
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  
  #progress-bar-container {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  #progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #4caf50;
  }
  
